#carousel {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;

    margin: 5px;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;

    width: 80vw;


    transition: transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    /*border-color: black;
    border-width: 5px;
    border-style: solid;*/
    
}

#outer {
    display: flex;
    align-items: center;
    justify-content: center;
}